body{
    background-image: url("patricio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    text-align: center;
}
.content *{
    margin: 10px;
}

label, .individual{
    color: white;
}